/* Type whatever CSS you need here! */

.name-tag {
    text-align: center;
    border: black;
    border-style: solid;
    margin: 3%;
    width: 268px;
    height: 147px;
}

.intro {
    background-color: blue;
    color: white;
    font-size: larger;
    border-bottom: solid;
    border-bottom-color: black;
}

.name {
    display: flex;
    justify-content: center;
    padding: 15%;
    font-weight: bold;
    font-size: larger;
}

.present {
    background-color: green;
    margin: 3%;
}

.absent {
    background-color: red;
    margin: 3%;
}

.poker-hand {
    display: inline;
}

.poker {
    height: 15%;
    width: 15%;
    margin: 1%;
}

.restaurant-review {
    display: inline-block;
    border: solid;
    border-radius: 25px;
    margin: 1%;
    height: auto;
    width: 250px;
}

.movie {
    display: inline;
}

.poster {
    display: flex;
    justify-content: left;
}